    <footer>
        <hr>
        {{social}}
        {{firstname}}
        {{lastname}}
        {{address}}
        <br>
        <a href="mailto:dmytro@mail.com">dmytro@mail.com</a> /
        <a href="tel:+380670000123">+380670000123</a> /
        <a href="https://www.linkedin.com/in/dmytro-test" target="_blank">LinkedIn</a>
    </footer>